$lite-bg: #fff;
$black: #000;
$dark: #333;
$gray: #939cb0;
$blue: #4793ff;
$blue-bg: rgba(71, 147, 255, 0.2);
$box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
$box-shadow-r: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
$br-r-20: 20px;
$br-r-10: 10px;
$br-r-5: 5px;
